body {
  background-color: rgb(31 156 223);
}
.app {
  padding: 1rem 2rem;
  max-width: 40rem;
  margin: auto;
  text-align: center;
}
.title {
  margin-bottom: 3rem;
}
.inputs-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}
